
/*----Global-----*/
body {

/*background-image:url(backgroundRace.jpg);*/
background-color:#66b3ff;
background-repeat:no-repeat;
background-size: cover;
}

/*----Content-----*/
/*----table-----*/
.racer_table {
margin: auto;
padding:50px;
}

.racer_table #player1_strip td.path {
 background-color:Black;
height: 55px;
width: 55px;
}

.racer_table td {
  background-image:url(race1.jpg);
 background-repeat:no-repeat;
 background-size:55px 55px;
  height: 55px;
  width: 55px;
}
.racer_color{
background-color: red;
 background-size:55px 55px;
  height: 55px;
  width: 55px;
}
/*----Animation-----*/
@keyframes blink-animation{
   0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
@-webkit-keyframes blink-animation{
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
.racer_table #player1_strip td.active {
 background-image:url(car1.jpg);
 /*animation:blink-animation 1s infinite;
-webkit-animation: blink-animation 1s infinite;*/
 background-repeat:no-repeat;
 background-size:55px 55px
}
.racer_table #player2_strip td.active {
 background-image:url(car2.jpg);
/* animation:blink-animation 1s infinite;
-webkit-animation: blink-animation 1s infinite;*/
 background-repeat:no-repeat;
 background-size:55px 55px
}

.cop_active {
 background-image:url(Cop2.gif);
 background-color: black;

 /*animation:blink-animation 1s infinite;
-webkit-animation: blink-animation 1s infinite;*/
 background-repeat:no-repeat;
 background-size:55px 55px
}
div {
  text-align: center;
}
/*----Startbutton-----*/
#startBtn
{
  background-color: Orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:center;
    margin-top:100px; 
    font-weight:bold;
}
.start-game
{
  float:center;
  padding-top: 25px;
}
#pChaseTrack
{
  text-align: center;
  color:red;
  font-size: 30px;
  font-weight: bold;
  margin-top: -20px;
}
#qChaseTrack
{
  animation:blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  text-align: center;
  color:red;
  font-size: 30px;
  font-weight: bold;
   margin-top: -70px;
}
#trackEsc
{
  animation:blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  text-align: center;
  color:green;
  font-size: 30px;
  font-weight: bold;
}

#keytoRace
{
  color:white;
   font-size:20px;
   font-style: italic;
   font-family: 'Times New Roman',serif;
}
#imgCop
{
 
  float:left;
  margin-top: -170px;
}
#imgTraffic
{
 
  float:right;
  margin-top: -170px;
}
#imgrob1
{
 
  float:right;
  margin-top: 100px;
}
#imgrob2
{
 
  float:left;
  margin-top: 100px;
}
#idimgrob1
{
  text-align:right;
  margin-top:100px;
  font-weight: bold;
}
#idimgrob2
{
  text-align:left;
  margin-top:100px;
  font-weight: bold;
  margin-left: 75px;
}